.fas, .btn-mail-icon {
	color: #5f6368;
    background-color: transparent;
    border: none;
    width:1rem;
}
.btn-mail{
    height: 50px;
    background-color: transparent;
    border: none;
    text-align: left;
}
.mail-main-area{
    width: 90vw;
}
li{
    width:100%;
}
.mail-main-area {
	flex-grow: 0.9;
}

.mail-list{
    padding:10px 0;
}

.mail-preview{
    min-width: 100%;
    min-height: 50px;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.mail-preview{
    padding: 20px 0px;
}
.mail-preview p{
    min-width: 100%;
    padding-inline-start: 10px;
}
.mail-preview .long-text{
    min-width: 100%;
}

.mail-preview >* {
    margin:0 5px;
}
.mail-content{
    flex-direction: column ;
}

.mail-preview:hover{
    background-color: #f5f7f7;
    border: 1px solid #f5f7f7;
    box-shadow: 0 1 rgba(216, 216, 216, 0.418);
    cursor: pointer;
}
.unread{
    font-weight: 600;
    color: #111;
}
.starred{
    color: orange;
}

.mail-input {
    font-family: fa, Lato;
	border: 1px solid #cdcecf;
    background-color: #fff;
    border-radius: 10em;
    padding: 5px 10px;
    width: 33%;
    /* border: 1px solid blueviolet; */
}
.mail-details{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    min-height: 2rem;
}
.mail-details-row {
    display: flex;
    width: 100%;
    border: 1px solid lightgray;
    height: 5vh;
    padding: 5px;
}
.mail-details-row p{
    padding-inline-end: 20px;
    width: 20%;
}
.mail-details-row:first-child{
    background-color: #111;
    color:white;
    font-weight: bolder;
    letter-spacing: 0.15em;
}
.mail-details-row.mail-body{
    height:40vh;
}

textarea{
    width: 100%;
    height: 100%;
    overflow:hidden;
    resize: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
}
textarea:disabled{
    color: #111;
}

.mail-send-actions{
    margin: 10px;
    flex-wrap: wrap;
}

.btn-mail-save{
	border: 1px solid #cdcecf;
    background-color: #fff;
    border-radius: 10em;
    text-align: center;
    width: 80px;
    height: 40px;
}

/* BP */

/* MOBILE */
@media (min-width: 300px) and (max-width: 500px){
    .mail-app{
        flex-direction: column;
        max-width: 90%;
    }
    .mail-main-nav {
        display:flex;
        justify-content: space-between;
        background-color: #fff;
    }
    .mail-main-nav span {
        display: none
    }
    .btn-mail{
        width: 30px;
        height: 30px;
    }
    .actions{
        max-width: 90%;
    }
    .mail-details header >*{
        height:auto;
        width: 80%;
    }

}

/* TABLET */
@media (min-width: 500px){
    .mail-app {
        font-size: 16px;
        background-color: #fff;
    }
    .mail-app > * {
        padding: 20px 0;
    }
    .btn-mail{
        width: 100px;
    }
    .btn-mail-compose {
        width: 100px;
        border: 1px solid #cdcecf;
        background-color: #fff;
        border-radius: 10em;
        text-align: center;
    }
    .mail-main-nav .btn-mail:hover {
        border-end-end-radius: 10em;
        border-start-end-radius: 10em;
        background-color: #f5f7f7;
    }
    .mail-main-nav >*:focus {
        border-end-end-radius: 10em;
        border-start-end-radius: 10em;
        background-color: #e8f2fa;
    }
    .mail-main-nav {
        background-color: #fff;
        flex-direction: column;
        max-width: 180px;
        margin-inline-end: 10px;
    }
    
}


/* DESKTOP */
@media (min-width: 980px){

    .btn-mail{
        width: 180px;
    }
    .btn-mail-compose {
        width: 180px;
    }
    .mail-content{
        flex-direction: row;
        justify-content: space-around;
    }
    .mail-preview{
        padding: 20px 0px;
    }
    .mail-preview p{
        min-width: auto;
        padding-inline-start: 10px;
    }
    .mail-preview .long-text{
        min-width: auto;
    }
    
}