.fas, .btn-mail-icon {
	color: #5f6368;
    background-color: transparent;
    border: none;
    width:1rem;
}

.mail-app {
    font-size: 16px;
	background-color: #fff;
}
.mail-app > * {
	padding: 20px 0;
}

.mail-main-nav {
	flex-direction: column;
    max-width: 180px;
    margin-inline-end: 10px;
}

.btn-mail{
    width: 180px;
    background-color: transparent;
    border: none;
    height: 50px;
    text-align: left;
}

.btn-mail-compose {
	border: 1px solid #cdcecf;
    background-color: #fff;
    border-radius: 10em;
    text-align: center;
    width: 180px;
}

.mail-main-nav .btn-mail:hover {
    border-end-end-radius: 10em;
    border-start-end-radius: 10em;
    background-color: #f5f7f7;
}
.mail-main-nav >*:focus {
    border-end-end-radius: 10em;
    border-start-end-radius: 10em;
    background-color: #fce8e6;
}

.mail-main-area {
	flex-grow: 0.9;
}

.mail-list{
    padding:10px 0;
}

.mail-preview{
    height: 50px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.mail-preview >* {
    margin:0 5px;
}

.mail-preview:hover{
    background-color: #f5f7f7;
    border: 1px solid #f5f7f7;
    box-shadow: 0 1 rgba(216, 216, 216, 0.418);
    cursor: pointer;
}
.unread{
    font-weight: 600;
    color: #111;
}
.starred{
    color: orange;
}

.mail-input {
    font-family: fa, Lato;
	border: 1px solid #cdcecf;
    background-color: #fff;
    border-radius: 10em;
    padding: 5px 10px;
    width: 33%;
    /* border: 1px solid blueviolet; */
}

.mail-display-row{
    display: flex;
    flex:row wrap;
    width: 100%;
    border: 1px solid lightgray;
    min-height: 2rem;
    padding: 5px;
}
.mail-display-row p{
    padding-inline-end: 20px;
    width: 10%;
}
.mail-display-row:first-child{
    background-color: #111;
    color:white;
    font-weight: bolder;
    letter-spacing: 0.15em;
}
.mail-display-row:last-child{
    height: 100px;
}