/* MAIN APP */

.note-app {
	margin: 0px 5%;
	padding: 10px 0;
}

/* NOTE LIST ul */

.note-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

/* NOTE LIST li */

.note-preview-container {
	margin: 5px;
	list-style: none;
}

/* NOTE SECTION */

.note-preview {
	min-width: 250px;
	padding: 10px;
	border-radius: 10px;
}

.note-preview textarea {
	resize: none;
	border: none;
	outline: none;
	background-color: transparent;
	border: none;
}

.note-preview img {
	height: 150px;
	border-radius: 10px;
}

.note-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ACTIONS */

.note-preview i,
.types-container span {
	cursor: pointer;
	color: black;
	padding: 10px;
	border-radius: 50%;
}

.note-preview i:hover {
	background-color: #eeeeee;
	transition: 0.3s;
}

.fa-thumbtack {
	width: 32px;
	height: 32px;
}

.fa-edit {
	color: black;
}

.note-preview .actions {
	display: flex;
	justify-content: flex-end;
	padding: 0 5px;
}

.note-preview .actions > *,
.fa-thumbtack {
	width: 38px;
}

.colors-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.colors {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	width: 180px;
}

.note-color {
	display: inline-flex;
	height: 25px;
	width: 25px;
	color: transparent;
	margin: 2px;
	border-radius: 50%;
	border: 1px solid white;
}

/* NOTE ADD */

.note-add {
	/* background-color: thistle; */
	margin: 1%;
	padding: 1%;
	display: flex;
	align-items: center;
	border-radius: 5px;
	box-shadow: rgb(0 0 0 / 27%) 0px 0px 4px 1px;
}

.types-container {
	width: 30%;
	display: flex;
	justify-content: space-evenly;
}

.types-container span {
	width: 38px;
	height: 38px;
}

.note-add form {
	width: 70%;
}

.note-input {
	border: none;
	width: 100%;
}

/* .note-txt-textarea {
	height: 50px;
	resize: none;
	border: none;
	outline: none;
	line-height: 45px;
	width: 70%;
}

.note-txt {
	padding: 5px;
} */
