/* MAIN APP */

.note-preview textarea {
	resize: none;
	border: none;
	outline: none;
	background-color: transparent;
}

/* NOTE LIST ul */

.note-list {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

/* NOTE LIST li */

.note-preview-container {
	margin: 5px;
	list-style: none;
}

/* NOTE SECTION */

.note-preview {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 150px;
	min-width: 250px;
	padding: 3%;
	border-radius: 10px;
}

/* ACTIONS */

.note-preview i,
.note-add i {
	cursor: pointer;
	color: black;
	padding: 10px;
}

.note-preview i:hover {
	border-radius: 50%;
	background-color: lightgray;
}

.fa-thumbtack {
	margin-left: 10px;
}

.note-preview .actions {
	display: flex;
	justify-content: flex-end;
}

.note-preview .actions > *,
.fa-thumbtack {
	height: 40px;
	width: 40px;
}

.colors {
	display: flex;
	flex-wrap: wrap;
	width: 180px;
}

.note-color {
	display: inline-flex;
	height: 25px;
	width: 25px;
	color: transparent;
	margin: 2px;
	border-radius: 50%;
	border: 1px solid white;
}

/* NOTE ADD */

.note-add form {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.note-input {
	padding: 10px;
	font-size: 18px;
	width: 70%;
	border: none;
	border-radius: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: rgb(0 0 0 / 27%) 0px 0px 4px 1px;
}
