/* MAIN NOTE APP */

.note-app {
	margin: 0px 5%;
	padding: 10px 0;
}

/* NOTE LIST ul */

.note-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* overflow-y: scroll; */
	/* height: 64vh; */
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

/* .note-list::-webkit-scrollbar {
	width: 15px;
}

.note-list::-webkit-scrollbar-track {
	margin-top: 5px;
	border-radius: 8px;
	background-color: #e9e9e9;
}

.note-list::-webkit-scrollbar-thumb {
	height: 15px;
	border-radius: 8px;
	background-color: #acd5fd;
} */

/* NOTE LIST li */

.note-preview-container,
.note-pinned-container {
	margin: 5px;
	list-style: none;
	width: auto;
}

/* NOTE SECTION */

.note-preview {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 250px;
	padding: 10px;
	border-radius: 10px;
}

.note-preview textarea {
	resize: none;
	border: none;
	outline: none;
	background-color: transparent;
	border: none;
}

.note-preview img {
	height: 150px;
	border-radius: 10px;
	margin: 5px 0;
}

.note-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ACTIONS */

.note-preview li {
	list-style: square;
}

.note-preview i,
.types-container span {
	cursor: pointer;
	color: black;
	padding: 10px;
	border-radius: 50%;
}

.note-preview i:hover {
	background-color: #eeeeee;
	transition: 0.3s;
}

.note-preview .actions {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.note-preview .actions > *,
.fa-thumbtack {
	width: 38px;
	height: 38px;
}

.colors-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.colors {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	width: 180px;
}

.note-color {
	display: inline-flex;
	height: 25px;
	width: 25px;
	color: transparent;
	margin: 2px;
	border-radius: 50%;
	border: 1px solid white;
}

/* NOTE ADD */

.note-add {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
	padding: 2%;
	min-height: 100px;
	border-radius: 5px;
	box-shadow: rgb(0 0 0 / 27%) 0px 0px 4px 1px;
}

.types-container {
	display: flex;
	justify-content: space-evenly;
}

.types-container span {
	width: 38px;
	height: 38px;
}

.note-add form {
	width: 70%;
}

.note-add input {
	border: none;
	width: 90%;
	font-size: 16px;
	font-family: Lato, 'Montserrat', sans-serif;
}

.note-add button {
	border: none;
	background-color: transparent;
}

.note-txt p {
	word-wrap: break-word;
}

@media (max-width: 600px) {
	.types-container span {
		width: 28px;
		height: 30px;
	}
	.note-preview .actions {
		max-width: 100%;
		justify-content: space-around;
	}
	.note-preview img {
		height: 85px;
	}
	.note-add input {
		width: unset;
		font-size: 14px;
	}
	.colors {
		width: 116px;
	}
}
