/* TYPOGRAPHY */

@font-face {
	font-family: Lato;
	src: url(/fonts/lato/Lato-Regular.ttf);
}

@font-face {
	font-family: Signika;
	src: url(/fonts/signika/Signika-Regular.ttf);
}

@font-face {
	font-family: fa-solid;
	src: url(/fonts/fa/fa-solid-900.ttf);
}

/* Dongle: 'Montserrat', sans-serif; */
/* Signika: 'Montserrat', sans-serif; */